Part 1/Examples/Utilizing tools from the Registry/rails-example-project
Part 1/Exercise 1.11/material-applications
Part 1/Exercise 1.12/material-applications
Part 1/Exercise 1.13/material-applications